.upper-container {
  flex: 100%;
  display: flex;
}

.code-form-container {
  display: flex;
  flex: 20%;
}

.code-input-left {
  flex: 20%;
}

.code-input-right {
  flex: 20%;
}

.chart {
  border: 1px solid;
}

.lower-container {
  flex: 100%;
}
