body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

button {
  border: 0px;
  /*border-radius: 3.5px;*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-weight: bold;
  font-size: 16px;
  min-height: 53px;
  box-sizing: border-box;
  /*max-height: 50px !important;
  max-width: 140px !important;
  min-width: 138px !important;*/
}

button:hover {
  background-color: rgba(0,0,0,1);
  /*border: 3px solid rgba(255,255,255,1);*/
  /*box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);*/
  /*box-shadow: 0 0 0 4px white, 0 0px 4px black;*/
  /*border-bottom: 3px solid rgba(255,255,255,1);*/
  /*margin-bottom: -1px;*/
  text-decoration: underline;
  cursor: pointer;
}

button:disabled {
  background-color: rgba(0,0,0,1);
  box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,1);
}

.site-title {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  font-style: italic;
}

.welcome-modal-div {
  text-align: center;
}

.site-desc-full {
  text-align: center;
  font-size: 24px;
}

.arena {
  width: 45%;
  height: 45%;
  margin-top: 25px;
  border-radius: 10px;
}

.arena:hover {
  border: 10px solid #6a51a3;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.upper-container {
  flex: 1;
  display: flex;
}

.lower-container {
  flex: 1;
}

.graph-container {
  flex: 1;
}

.text-pane {
  flex: 1;
}

.text-area {
  height: 100%;
  display: flex;
}

/*.code-input {
  position: absolute;
  top: 0px;
  flex: 1;
  max-width: 250px;
  width: 25%;
  height: 85%;
}*/

.code-input-left {
  flex: 20%
}

.code-input-right {
  flex: 20%
}

.code-submit {

}

.control-panel-container {
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.selector-buttons {
  display: flex;
  flex: 1;
}

.pane-selector {
  flex: 1;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

/*.pane-selector:disabled {
  background: red;
}*/

.range-input {
  padding: 0px;
  flex: 1;
}

.range-input:hover {
  background: #dddddd;
}

.num-tests-input {
  flex: 1;
}

.num-tests-input:hover {
  background: #dddddd;
}

.test-setup {
  flex: 75%;
  display: flex;
}

.demo-sort {
  flex: 1;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.library-sorts {
  display: flex;
  flex: 1;
}

.code-form-container {
  display: flex;
  flex: 20%;
}

.chart {
  border: 1px solid;
  flex: 60%;
}

.data-point {
  /*transform: scale(1,1);*/
}

.data-point:hover {
  /*transform: scale(1.2,1.2);*/
}

.data-point.series-1 {
  fill: purple;
}

.data-point.series-2 {
  fill: red;
}

.editor {
  /* height: 200px; */
  /* width: 200px; */
  flex: 20%;
}
