
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.graph-container {
  flex: 1;
}

.text-pane {
  flex: 1;
}

.text-area {
  height: 100%;
  display: flex;
}

.code-input {
  position: absolute;
  top: 0px;
  flex: 1;
  max-width: 250px;
  width: 25%;
  height: 85%;
}

.code-input.left {
  left: 0px;
  margin-right: 600px;
}

.code-input.right {
  right: 0px;
  margin-left: 600px;
}

.code-submit {

}

.control-panel-container {
  width: 100%;
  border: 1px solid;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button-container {
  width: 16.7%;
}

.selector-buttons {
  flex: 25%;
}

.pane-selector {
  width: 50%;
  height: 50px;
}

.range-input {
  padding: 0px;
  display: flex;
  width: 97%;
}

.num-tests-input {
  padding: 0px;
  display: flex;
  width: 97%;

}

.test-setup {
  flex: 75%;
  display: flex;
}

.demo-sort {
  height: 50px;
  width: 12.5%;
}

.library-sorts {
  flex: 1;
}

.code-form-container {
  height: 100%;
}












.chart-title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
}

.contour-legend {
    margin: 10px 40px;
}

.line-chart-markers .dot {
    fill: #fff;
    stroke-width: 2px;
}

.line-chart-markers.s-1 .dot { stroke: #2477b3; }
.line-chart-markers.s-2 .dot { stroke: #008C48; }
.line-chart-markers.s-3 .dot { stroke: #EE2E2F; }
