body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

button {
  border: 1px solid black;
  border-radius: 3.5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #9e9ac8;
  color: white;
  font-weight: bold;
  font-size: 16px;
  max-height: 50px !important;
  max-width: 140px !important;
  min-width: 138px !important;
}

button:hover {
  background-color: #6a51a3;
  cursor: pointer;
}

.site-title {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  font-style: italic;
}

.welcome-modal-div {
  text-align: center;
}

.site-desc-full {
  text-align: center;
  font-size: 24px;
}

.arena {
  width: 45%;
  height: 45%;
  margin-top: 25px;
  border-radius: 10px;
}

.arena:hover {
  border: 10px solid #6a51a3;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.graph-container {
  flex: 1;
}

.text-pane {
  flex: 1;
}

.text-area {
  height: 100%;
  display: flex;
}

/*.code-input {
  position: absolute;
  top: 0px;
  flex: 1;
  max-width: 250px;
  width: 25%;
  height: 85%;
}*/

.code-input-left {
  flex: 20%
}

.code-input-right {
  flex: 20%
}

.code-submit {

}

.control-panel-container {
  width: 100%;
  border: 1px solid;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.button-container {

}

.selector-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pane-selector {
  width: 10%;
  height: 57px;
}

.pane-selector:disabled {
  background: red;
}

.range-input {
  padding: 0px;
  display: flex;
  width: 97%;
}

.range-input:hover {
  background: #dddddd;
}

.num-tests-input {
  padding: 0px;
  display: flex;
  width: 97%;
}

.num-tests-input:hover {
  background: #dddddd;
}

.test-setup {
  flex: 75%;
  display: flex;
}

.demo-sort {
  height: 50px;
  width: 12.5%;
}

.library-sorts {
  margin: 0 auto;
}

.code-form-container {
  display: flex;
  flex: 20%;
}

.chart {
  border: 1px solid;
  flex: 60%;
}

.data-point {
  /*transform: scale(1,1);*/
}

.data-point:hover {
  /*transform: scale(1.2,1.2);*/
}

.data-point.series-1 {
  fill: purple;
}

.data-point.series-2 {
  fill: red;
}

.upper-container {
  flex: 100%;
  display: flex;
}

.lower-container {
  flex: 100%;
}
