
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.graph-container {
  flex: 1;
}

.text-pane {
  flex: 1;
}

.text-area {
  height: 100%;
  display: flex;
}

.code-input {
  position: absolute;
  top: 0px;
  flex: 1;
  max-width: 250px;
  width: 25%;
  height: 85%;
}

.code-input.left {
  left: 0px;
  margin-right: 600px;
}

.code-input.right {
  right: 0px;
  margin-left: 600px;
}

.code-submit {

}

.control-panel-container {
  width: 100%;
  border: 1px solid;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button-container {
}

.selector-buttons {
  display: flex;
  width: 100%;
}

.pane-selector {
  width: 10%;
  height: 50px;
}

.range-input {
  padding: 0px;
  display: flex;
  width: 97%;
}

.range-input:hover {
  background: #dddddd;
}

.num-tests-input {
  padding: 0px;
  display: flex;
  width: 97%;
}

.num-tests-input:hover {
  background: #dddddd;
}

.test-setup {
  flex: 75%;
  display: flex;
}

.demo-sort {
  height: 50px;
  width: 12.5%;
}

.library-sorts {
  flex: 1;
}

.code-form-container {
  height: 100%;
}

.chart {
  margin-left: 22.5%
}
